<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByqMP6gtdQ5l_aEdOmQ34ULaj300njvjY</string>
	<key>GCM_SENDER_ID</key>
	<string>1070062035569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneyMiracle.saveV</string>
	<key>PROJECT_ID</key>
	<string>savev-d820f</string>
	<key>STORAGE_BUCKET</key>
	<string>savev-d820f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070062035569:ios:b9f0c93c9e5315607cf1d0</string>
</dict>
</plist>